@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.autorizationNavElemes {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.3); */
  margin-bottom: 40px;
}

.Logo {
  margin-left: 30px;
}
.headerUserNav {
  margin-left: auto;
  margin-right: 50px;
  justify-content: space-between;
  z-index: 10000;
}

.Login {
  margin-right: 20px;
  text-decoration: none;
  color: #ff6800;
}

.Login:hover {
  transition: 0.3s;
  text-decoration: underline;
  color: black;
}

.SignUp {
  text-decoration: none;
  color: #0033cc;
  padding: 5px;
}
.SignUp:hover {
  transition: 0.3s;
  border: 1px #0033cc;
  background-color: #0033cc;
  text-decoration: none;
  color: white;
}

.BodyImage {
  display: flex;
}

.hover {
  position: absolute;
  background: linear-gradient(rgba(39, 42, 51, 0), #272a33);
  opacity: 0.7;
  width: 100%;
  height: 560px;
}

.BodyImage > img {
  margin: 0 auto;
}

.mainPageTitle {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: black;
  color: white;
  text-align: center;
  align-items: center;
}

.mainPageTitle > h2 {
  margin: 0 auto;
}
.tournamentList {
  display: flex;
}

.tournamentInfo {
  width: 70%;
  box-shadow: 3px 5px 14px black;
  border-radius: 10px;
  margin: 40px auto;
  padding: 20px;
}
.tournamentName {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.tournamentDescription {
  font-size: 16px;
  margin-bottom: 20px;
}

.tournamentPlayers {
  /* text-align: center; */
  align-items: center;
  /* justify-content: center; */
  display: flex;
}

/* .tournamentPlayers::before {
  content: url("https://png.pngtree.com/png-vector/20191017/ourlarge/pngtree-gamepad-icon-png-image_1821905.jpg");
  width: 10px;
} */

.createTournament {
  display: flex;
}

.createTournament > a {
  box-shadow: 1px 2px 3px black;
  padding: 15px;
  margin: 40px auto;
  background-color: #eeeeee;
  text-decoration: none;
  color: black;
}

.NotAutorized {
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
}
